
<body>
    <p>
        Are ye ready to submit yer file and have it magically transformed into shiny JSON treasure?
        Just click that submit button and let the conversion begin!
    </p>
    <form action="{% url 'converter-convert' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="xml_file">Select XML file:</label>
        <input type="file" id="xml_file" name="file">
        <br>
        <input type="submit" value="Convert">
    </form>
</body>
